<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/pagination.css">
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <% if (products.length > 0) { %>
      <div class="grid">
      <% for (product of products) { %> 
        <article class="card product-item">
          <header class="card__header">
            <h1 class="product__title"><%= product.title%></h1>
          </header>
          <div class="card__image">
            <img src="/<%= product.imageUrl %>" alt="product title">
          </div>
          <div class="card__content">
            <h3 class="product__price"><span class="dollar-sign">$</span><%= product.price%></h3>
            <p class="product__description"><%= product.description%></p>
          </div>
          <div class="card__actions">
            <% if (isAuthenticated) { %>
              <%- include('../includes/add-to-cart.ejs', {product: product}) %>
            <% } %>
            <a class="btn" href="/product-detail/<%= product._id %>">Details</a>
          </div>
        </article>
        <% } %>
      </div>
      <section class="pagination">
        <% if (pages > 0) { %>
          <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
          <% if (i !== 1) { %>
            <div class="pagination-list__item"><a class="pagination-link">...</a></div>
          <% } %>
          <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>
              <div class="pagination-list__item"><a class="pagination-link active"><%= i %></a></div>
            <% } else { %>
              <div pagination-link-list__item><a class="pagination-link" href="/?page=<%= i %>"><%= i %></a></div>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
                <div class="pagination-list__item"><a class="pagination-link" >...</a></div>
            <% } %>
          <% } %>
        <% } %> 
      </section>
      <% } else { %>
      <h1>No products...</h1>
    <% } %>
  </main>
<%- include('../includes/end.ejs') %>
